<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="{{ "/" | relative_url }}">
      <img
        src="/assets/images/logo.png"
        height="50"
        class="d-inline-block align-top"
        alt=""
      />
      {{ site.header-title | escape }}
    </a>
  
  <button
    class="navbar-toggler navbar-toggler-right ml-auto"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse text-right" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      {% for item in site.data.navigation %} {% if page.url == item.link %}
      <li class="nav-item">
        <a href="{{ item.link }}" class="nav-link active">{{ item.name }} </a>
      </li>
      {% else %}
      <li class="nav-item">
        <a href="{{ item.link }}" class="nav-link">{{ item.name }} </a>
      </li>
      {% endif %} {% endfor %}
    </ul>
  </div>
</nav>
