.twocol {
  float: left;
  width: 48%;
  text-align: center;
  margin: 1%;
}

.onethird {
  float: left;
  width: 30%;
  text-align: center;
  margin: 1%;
}

.twothird {
  float: left;
  width: 60%;
  text-align: center;
  margin: 1%;
}

.threecol {
  float: left;
  width: 30%;
  text-align: center;
  margin: 1%;
}

.center {
  text-align: center;
  margin: auto;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 768px) {
  .threecol {
    width: 100%;
  }

  .twocol {
    width: 100%;
  }

  .onethird {
    width: 100%;
  }

  .twothird {
    width: 100%;
  }

  iframe {
    width: 100%;
  }
}
