---
---

// Define defaults for each variable.

$base-font-family: "Open Sans", sans-serif !default;
$base-font-size: 16px !default;
$base-font-weight: 400 !default;
$small-font-size: $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$spacing-unit: 30px !default;

$text-color: #111 !default;
$background-color: #fdfdfd !default;

$grey-color: #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark: darken($grey-color, 25%) !default;

$table-text-align: left !default;

// Width of the content area
$content-width: 800px !default;

// Variables
$color--default: #3a3a3a;
$color--light: lighten($color--default, 65%);
$color--primary: #93c47d;
$color--secondary: #b5d7a7;
$color--background: #f8faff;

$size--unit: 8px;

$layout--max-width: 1100px;

$on-palm: 768px !default;
$on-laptop: 800px !default;

@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

.red {
  color: Red;
}

/**
 * Clearfix
 */
%clearfix:after {
  content: "";
  display: table;
  clear: both;
}

@import "reset", "images", "body", "links", "lists", "headers", "store",
  "footer", "wrapper", "tables", "code", "blockquotes", "icons", "columns",
  "header", "navigation", "posts", "pages";
