<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

    <div
    id="snipcart"
    data-api-key="{{ site.snipcart_key}}"
    hidden
  ></div>
  <script src="https://cdn.snipcart.com/themes/v3.0.1/default/snipcart.js"></script>
  </body>
  
</html>
