---
layout: default
---

<img width="100%" src="/assets/main-logo.png" />

<div style="text-align: center">
  <h1>ENDURANCE + WELLNESS</h1>
  <hr />

  <div class="row">
    <div class="onethird"><h1>🥇 Fast Racing</h1></div>
    <div class="onethird"><h1>💚 Healthy Living</h1></div>
    <div class="onethird"><h1>🌞 Self-Fulfillment</h1></div>
  </div>

  <hr />
  <br /><br /><br />

  <div class="row">
    <div class="onethird">
      <div class="onethird">
        <img height="50px" src="/assets/neil.png" />
      </div>
      <div class="twothird">
        <p style="font-weight: bold;">
          "The good thing about science is that it’s true whether or not you
          believe in it.”
        </p>
        <p>
          -
          <a
            href="https://twitter.com/neiltyson/status/345551599382446081?lang=en"
            >Neil deGrasse Tyson</a
          >
        </p>
      </div>
    </div>
    <div class="twothird">
      <h1 style="font-weight:bold;">TRAIN SMART</h1>
      <p>
        At the intersection of science-based training and your personal story is
        a chance to
        <span style="font-style: underline; font-weight: bold;"
          >maximize your potential</span
        >. Hiring a <a href="/about">qualified coach</a> gives you access to
        leading techniques applied through a growing relationship.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="onethird">
      <img width="100%" height="150px;" src="/assets/trainingpeaks.png" />
    </div>
    <div class="twothird">
      <h1 style="font-weight:bold;">GET RID OF THE GUESS WORK</h1>
      <p>
        Wake up without the stress of planning your workouts. Personalized
        training plans make it easier to get out the door, and regular coach
        feedback + a great tool like
        <a href="http://www.trainingpeaks.com" target="_blank">TrainingPeaks</a>
        keep you accountable.
      </p>
    </div>

    <h1 style="font-weight:bold;">Let's Have a Conversation</h1>

    <p>
      If you have any questions related to running, coaching, or my services let
      me know below!
    </p>

    <iframe
      src="https://docs.google.com/forms/d/e/1FAIpQLSc3eyuVPabr2MAjB1UgpjSnXOVQJxqNian7YsCjsaHBVhPApw/viewform?embedded=true"
      width="400"
      height="669"
      frameborder="0"
      marginheight="0"
      marginwidth="0"
      >Loading…</iframe
    >
  </div>
</div>
